.app__platform {
	flex: 1;
	width: 100%;
	flex-direction: column;
}

.app__platforms {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 2rem;
}

.app__platform-item {
	width: 149px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	margin-left: 4rem;
	margin-right: 4rem;
	img {
		width: 170px;
		height: 170px;
		border-radius: 15px;
		object-fit: cover;
	}
	@media screen and (min-width: 2000px) {
		width: 370px;
		height: 2rem 4rem;
		img {
			height: 320px;
		}
	}
}
